*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:white;
    padding:20px;
    border-radius:10px;
    width:500px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,button{
    padding:10px;
}

button{
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

li{
    list-style:none;
    background:#eee;
    padding:10px;
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.completed{
    text-decoration:line-through;
    color:green;
}

.actions button{
    margin-left:5px;
}